@model EmployeeVM
<div class="form-group">
    <label asp-for="@Model.Image" class="col-form-label"></label>
    <img src="~/Files/Images/@Model.ImageName" width="120" height="120" class="rounded my-3" alt="Employee's Image" />
</div>
    <input hidden asp-for="ImageName"/>
<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Address" class="col-form-label"></label>
    <input asp-for="@Model.Address" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Age" class="col-form-label"></label>
    <input asp-for="@Model.Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input asp-for="@Model.Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Phone" class="col-form-label"></label>
    <input asp-for="@Model.Phone" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Salrey" class="col-form-label"></label>
    <input asp-for="@Model.Salrey" class="form-control" readonly />
</div>
<br />
<div class="form-group form-check">
    <input asp-for="@Model.IsActive" class="form-check-input" type="checkbox" readonly />
    <label asp-for="@Model.IsActive" class="check-label"></label>
</div>
<div class="form-group">
    <label asp-for="@Model.HireDate" class="col-form-label"></label>
    <input asp-for="@Model.HireDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.DepartmentId" class="col-form-label"></label>
    <input asp-for="@Model.DepartmentId" class="form-control" readonly />
</div>
<br />